.default_button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #D0AC80;
  background: #D0AC80;
  transition: .2s;
}

.default_button:hover {
  background: #cfa066;
}

.default_button:disabled,
.default_button:disabled:hover {
  cursor: default;
  color: #B7B7B7;
  border: 1px solid var(--grey-50, #F0F0F0);
  background: var(--grey-50, #F0F0F0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}