#date_to,
#date_from {
  width: 130px;
  color: var(--grey-800, #0F0F0F);
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.date_input {
  padding-left: 3px;
}

.date_field {
  margin-top: 10px;
}

.date_wrap {
  margin-bottom: 14px;
}