.modal__content {
  width: min-content;
  padding: 0;
}

.editBtn {
  color: white;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #D0AC80;
  background: var(--tan-400, #D0AC80);
  height: 32px;
  padding: 0px 32px;
  transition: .2s;
}

.editBtn:hover {
  background: #cfa066;
}